    
{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top:-25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Notes</a></li>
                                                <li class="breadcrumb-item active">Create Note</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Create Notes</h4>
                                        <form  action="" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-3">
                                                        <label name='ndocument' for="ndocument">Document</label>
                                                        {{form.ndocument}}


                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="uploaded_at">Uploaded At</label>
                                                        {{form.uploaded_at}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='nfaculty' for="nfaculty">Faculty</label>
                                                        {{form.nfaculty}}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='nbatch' for="nbatch">Batch</label>
                                                        {{form.nbatch}}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='nname' for="nname">Name</label>
                                                        {{ form.nname }}
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">Update Note</button>
                                                    </div>
                                                </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->
                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

    <script>
        $('#uploaded_at').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: "yy-m-d"
        });
</script> 

{% endblock %}
{% block extra_javascript %}
{% endblock %}
