{% extends "teacher_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-25px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Notes</a></li>
                        <li class="breadcrumb-item active">Notes List</li>
                    </ol>
                </div>
                <h4 class="page-title">Notes</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <div class="form-group mr-2">
                                
                            </div>
                            <!-- <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div> -->
                        </div>
                    </div>
                </div>

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <!-- <tr>
                        <th></th>
                    </tr> -->
                    </thead>
                    <tbody>
                    <!-- <tr>
                        <td> -->
                            <div class="student-dtl">
                            <form action="{% url 'notes:note-detail' note.id %} " method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <!-- <a href="{{ note.ndocument.url }}" class="btn btn-primary waves-effect waves-light">Download</a> -->
                                <div class="text-right" style="margin-bottom: 20px">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Download Note</button>
                                </div>
                            </form>
                            </div>
                            <!-- </td>
                        <td>
                    </tr> -->
                    </tbody>

                </table>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


</div> <!-- container -->


{% endblock %}

{% block extra_javascript %}
{% endblock %}

<div class="student-dtl">
<form action="{% url 'notes:note-detail' note.id %} " method="POST">
    {% csrf_token %}
    {{ form }}
    <a href="{{ note.ndocument.url }}" class="btn btn-primary waves-effect waves-light">Download</a>
    <div class="text-right">
        <button type="submit" class="btn btn-success waves-effect waves-light">Create Note</button>
    </div>
</form>
</div>