    
{% extends "student_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top:-25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Student Info</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                                                <li class="breadcrumb-item active">Update Student Info</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Update Info</h4>
                                        <form  action=" " method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-3">
                                                        <label for="Username">Student Name</label>
                                                        {{form.sname}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Semester">Address</label>
                                                        {{form.saddress}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Type of Exam">Contact</label>
                                                        {{form.scontact}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="email">Email</label>
                                                        {{form.semail}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Faculty">Faculty</label>
                                                        {{ form.sfaculty }}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="anniversary">Batch</label>
                                                        {{ form.sbatch }}
                                                    </div>  
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">Update Info</button>
                                                    </div>
                                                </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->
                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

{% endblock %}
{% block extra_javascript %}
{% endblock %}
