
{% load static}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

  <div class="slimscroll-menu">

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <ul class="metismenu" id="side-menu">
          <li class="menu-title">Navigation</li>

          <li>
              <a href="{% url 'student:student-profile' %}">
                  <i class="pe-7s-user"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> User PROFILE </span>
              </a>
          </li>
          <li>
              <a href="{% url 'attendance:student-attendance' %}">
                  <i class="pe-7s-date"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span > ATTENDENCE </span>
              </a>
          </li>

          <li>
              <a href="{% url 'notice:student-notice' %}">
                  <i class="pe-7s-news-paper"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> NOTICE </span>
              </a>
          </li>
          <li>
              <a href="{% url 'notes:student-note' %}">
                  <i class="pe-7s-file"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> NOTES </span>
              </a>
          </li>
          <li>
              <a href="{% url 'marks:marks-student' %}">
                  <i class="pe-7s-note2"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> MARKS </span>
              </a>
          </li>
          <li>
              <a href="{% url 'assignment:student-assignment' %}">
                  <i class="pe-7s-note2"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> ASSIGNMENT </span>
              </a>
          </li>


      </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
