    
{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top:-25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Notes</a></li>
                                                <li class="breadcrumb-item active">Create Note</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Create Notes</h4>
                                        <form  action="" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-3">
                                                        <label name='afname' for="afname">Faculty</label>
                                                        <!-- {{form.afname}}
                                                        {{ form.errors.afname }} -->
                                                        <select name="afname" id="afname" required="True"
                                                                class="form-control">
                                                            <!-- <option selected disabled>Select Your Faculty</option> -->
                                                            {% for fac in faculty %}
                                                                <option>{{ fac }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                    <!-- <div class="form-group mb-3">
                                                        <label name='asbatch' for="asbatch">Batch</label>
                                                        {{form.asbatch}}
                                                        {{ form.errors.asbatch }}

                                                    </div> -->
                                                    <div class="form-group mb-3">
                                                        <label for="exampleFormControlSelect2">Batch</label>
                                                        <select class="form-control" name="asbatch" placeholder="Select batch" id="asbatch">
                                                          <option value="2068">2068</option>
                                                          <option value="2069">2069</option>
                                                          <option value="2070">2071</option>
                                                          <option value="2071">2071</option>
                                                          <option value="2072">2072</option>
                                                          <option value="2073">2073</option>
                                                          <option value="2074">2074</option>
                                                          <option value="2075">2075</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='aname' for="aname">Assignment Name</label>
                                                        {{ form.aname }}
                                                        {{ form.errors.aname }}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='asubject' for="asubject">Subject Name</label>
                                                        {{ form.asubject }}
                                                        {{ form.errors.asubject }}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                    <label for="adeadline">Deadline</label>
                                                        <input id="adeadline"  class="form-control"
                                                               name="adeadline" placeholder="Enter  Display">
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label name='document' for="document">Document</label>
                                                        {{form.document}}
                                                        {{ form.errors.document }}
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">Create Note</button>
                                                    </div>
                                                </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->
                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

    <script>
        $('#adeadline').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: "yy-m-d"
        });
</script> 

{% endblock %}
{% block extra_javascript %}
{% endblock %}
