{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-10">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title"></h4>
                                        <p class="sub-header">
                                        </p>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <form  action=" " method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div>
                                                        <h4 class="page-title" style="color:#006DF0 !important;">Delete Assignment?</h4>
                                                     </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="text-right">
                                                                <button type="submit" class="btn btn-danger waves-effect waves-light">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row-->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
{% endblock %}
{% block extra_javascript %}
{% endblock %}


