{% extends "student_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-25px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Assignment</a></li>
                        <li class="breadcrumb-item active">Assignment List</li>
                    </ol>
                </div>
                <h4 class="page-title">Assignment</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <!-- <div class="form-group mr-2">
                                <a href="{% url 'assignment:assignment-create' %}" class="btn btn-primary" data-animation="fadein"  data-overlayColor="#98a6ad"><i class="mdi mdi-plus-circle mr-1"></i> Add Assignment</a>
                            </div> -->
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>Faculty</th>
                        <th>Batch</th>
                        <th>Subject Name</th>
                        <th>Deadline</th>
                        <th>Document</th>
                        <!-- <th style="width: 85px;">Action</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for assignment in assignments %}
                    <tr>
                    
                        <td>
                            {{assignment.aname}}
                        </td>
                        <td>
                            {{assignment.afname}}
                        </td>
                        <td>
                            {{assignment.asbatch}}
                        </td>
                        <td>
                            {{assignment.asubject}}
                        </td>
                        <td>
                            {{assignment.adeadline}}
                        </td>
                        <td>
                            <a href="{{assignment.document.url}}" class="btn btn-primary waves-effect waves-light">Download</a>
                            
                            </td>
                        
                        <!-- <td>
                            
                            <a href="{% url 'assignment:assignment-update' assignment.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                            <a href="{% url 'assignment:assignment-delete' assignment.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                        </td> -->
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <td colspan="8">
                            <div class="text-right">
                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


</div> <!-- container -->


{% endblock %}

{% block extra_javascript %}
{% endblock %}
