
{% extends "student_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}



                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row" style="margin-top: -25px">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);"> CMS</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title"></h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        


                        <div class="row">

        
                            <div class="col-xl-12">
                                <div class="card-box">
                                    <h4 class="header-title mb-4">Notices</h4>
        
                                    <ul class="nav nav-pills navtab-bg nav-justified">
                                        <li class="nav-item">
                                            <a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                                HOLIDAY
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#profile1" data-toggle="tab" aria-expanded="true" class="nav-link">
                                                MEETING
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#messages1" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                EVENTS
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#home2" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                OTHERS
                                            </a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a href="#profile2" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                ALL
                                            </a>
                                        </li> -->
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="home1">
                                            <table id="basic-datatable" class="table">
                                                <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Holiday' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="profile1">
                                            <table id="selection-datatable" class="table">
                                                <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Meeting' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="messages1">
                                            <table id="state-saving-datatable" class="table">
                                                <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Events' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="home2">
                                            <table id="key-datatable" class="table">
                                                <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Others' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="tab-pane" id="profile2">
                                            <table id="row-callback-datatable" class="table">
                                                <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>DOB</th>
                                                    <th>Package</th>
                                                    <th>Designation</th>
                                                    <th>Organization</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for employee in all_employees %}
                                                <tr>
                                                    <td>{{ employee.first_name }}&nbsp;</td>
                                                    <td>{{ employee.last_name }}&nbsp;</td>
                                                    <td>{{ employee.birthdate.date }}&nbsp;</td>
                                                    <td><a href="#custom-modal" class="btn btn-primary waves-effect waves-light mb-2" data-animation="fadein" data-plugin="custommodal" data-overlayColor="#98a6ad">{{ employee.package }}</a></td>
                                                    <td>{{ employee.designation }}&nbsp;</td>
                                                    <td>{{ employee.department }}&nbsp;</td>

                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr class="active">
                                                    <td colspan="6">
                                                        <div class="text-right">
                                                            <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div> -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->
{% endblock %}

{% block extra_javascript %}
{% endblock %}




