{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top:-25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Notice</a></li>
                                                <li class="breadcrumb-item active">Notice</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Notice</h4>
                                        <form  action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="exampleFormControlSelect2">Faculty</label>
                                                    <select class="form-control" name="nfaculty" placeholder="Select batch" id="exampleFormControlSelect2">
                                                      {%for faculty in faculty%}
                                                      <option value="{{faculty.fname}}">{{faculty.fname}}</option>
                                                      {%endfor%}
                                                     
                                                    </select>
                                                </div>
                                                <!-- <div class="form-group col-md-4">
                                                    <label for="contact">Batch</label>
                                                    {{form.nbatch}}
                                                </div> -->
                                                <div class="form-group col-md-4">
                                                    <label for="exampleFormControlSelect2">Batch</label>
                                                    <select class="form-control" name="nbatch" placeholder="Select batch" id="exampleFormControlSelect2">
                                                      <option value="2068">2068</option>
                                                      <option value="2069">2069</option>
                                                      <option value="2070">2071</option>
                                                      <option value="2071">2071</option>
                                                        <option value="2072">2072</option>
                                                      <option value="2073">2073</option>
                                                      <option value="2074">2074</option>
                                                      <option value="2075">2075</option>
                                                    </select>
                                                  </div>
                                                <!-- <div class="form-group col-md-4">
                                                    <label for="designation">Semester</label>
                                                    {{form.nsemester}}
                                                </div> -->
                                                <div class="form-group col-md-4">
                                                    <label for="exampleFormControlSelect2">Semester</label>
                                                    <select class="form-control" placeholder="Select batch"  name="nsemester" id="exampleFormControlSelect2">
                                                      <option value="First">First</option>
                                                      <option value="Second">Second</option>
                                                      <option value="Third">Third</option>
                                                      <option value="Fourth">Fourth</option>
                                                      <option value="Fifth">Fifth</option>
                                                      <option value="Sixth">Sixth</option>
                                                      <option value="Seventh">Seventh</option>
                                                      <option value="Eighth">Eighth</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <!-- <div class="form-group col-md-4">
                                                    <label for="Name">Type</label>
                                                    {{form.ntype}}
                                                </div> -->
                                                <div class="form-group col-md-4">
                                                    <label for="exampleFormControlSelect2">Notice Type</label>
                                                    <select class="form-control" placeholder="Select batch"  name="ntype" id="exampleFormControlSelect2">
                                                      <option value="Holiday">Holiday</option>
                                                      <option value="Meeting">Meeting</option>
                                                      <option value="Events">Events</option>
                                                      <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="contact">Title</label>
                                                    {{form.ntitle}}
                                                </div>
                                                <!-- <div class="form-group col-md-4">
                                                    <label for="designation">Designation</label>
                                                    {{form.nsemester}}
                                                </div> -->
                                            </div>
                                                <div class="form-group mb-3">
                                                    <label for="display">Display</label>
                                                    <input id="display"  class="form-control"
                                                           name="display" placeholder="Enter  Display">
                                                </div>
                                            <div class="form-group mb-3">
                                                <label for="Upload File">Notice</label>
                                                {{form.nnotice}}
                                            </div>

                                            <div class="text-right">
                                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit Notice</button>
                                            </div>
                                        </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->

                            
                            <div class="col-xl-12">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Notice</h4>

                                <ul class="nav nav-pills navtab-bg nav-justified">
                                    <li class="nav-item">
                                        <a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                            HOLIDAY
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile1" data-toggle="tab" aria-expanded="true" class="nav-link">
                                            MEETING
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#messages1" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            EVENTS
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#home2" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            OTHERS
                                        </a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="home1">
                                        <table id="basic-datatable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Holiday' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            </tbody>
                                            
                                            
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="profile1">
                                        <table id="selection-datatable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Meeting' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="messages1">
                                        <table id="state-saving-datatable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Events' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr class="active">
                                                <td colspan="2">
                                                    <div class="text-right">
                                                        <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="home2">
                                        <table id="key-datatable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Notice</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for notice in notices %}
                                            {% if notice.ntype == 'Others' %}
                                            <tr>
                                                <td>{{ notice.ntitle }}&nbsp;</td>
                                                <td>{{ notice.nnotice }}&nbsp;</td>

                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr class="active">
                                                <td colspan="6">
                                                    <div class="text-right">
                                                        <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div> <!-- end card-box-->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->
                    </div> <!-- container -->


<script>
        $('#display').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: "yy-m-d"
        });
</script>  
{% endblock %}
{% block extra_javascript %}
{% endblock %}


        