
{% load static}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

  <div class="slimscroll-menu">

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <ul class="metismenu" id="side-menu">
          <li class="menu-title">Navigation</li>

          <li>
              <a href="{% url 'teacher:teacher-dashboard' %}">
                  <i class="pe-7s-graph"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> DASHBOARD </span>
              </a>
          </li>
          <li>
              <a href="{% url 'teacher:teacher-profile'  %}">
                  <i class="pe-7s-user "></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span > USER PROFILE </span>
              </a>
          </li>

          <li>
              <a href="{% url 'attendance:attendance' %}">
                  <i class="pe-7s-date"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> ATTENDENCE </span>
              </a>
          </li>
          <li>
              <a href="{% url 'notice:notice' %}">
                  <i class="pe-7s-news-paper"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> NOTICE </span>
              </a>
          </li>
          <li>
              <a href="{% url 'routine:routine-create' %}">
                  <i class="pe-7s-news-paper"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> ROUTINE </span>
              </a>
          </li>
          <li>
              <a href="{% url 'notes:note-list' %}">
                  <i class="pe-7s-file"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> NOTES </span>
              </a>
          </li>
          <li>
              <a href="{% url 'marks:marks-input' %}">
                  <i class="pe-7s-note2"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> MARKS </span>
              </a>
          </li>
          <li>
              <a href="{% url 'assignment:assignment-list' %}">
                  <i class="pe-7s-note2"></i>
                  <span class="badge badge-success badge-pill float-right"></span>
                  <span> ASSIGNMENT </span>
              </a>
          </li>


      </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
