{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Ubold - Responsive Bootstrap 4 Admin Dashboard{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />

  <link rel="icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <!-- inline style to handle loading of various element-->

    <!-- Footable css -->
    <link href="{% static 'assets/libs/footable/footable.core.min.css' %}" rel="stylesheet" type="text/css" />

    

    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <!-- Custom box css -->
    <link href="{% static 'assets/libs/custombox/custombox.min.css' %}" rel="stylesheet">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    <!-- third party css -->
    <link href="{% static 'assets/libs/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'assets/libs/datatables/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables/select.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->


  {% endblock %}

  {% block extra_css %}
  {% endblock %}
</head>

<body {% block body_extra %}{% endblock %}>

{% block page_content %}{% endblock %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- Footable js -->
<script src="{% static 'assets/libs/footable/footable.all.min.js' %}"></script>

<!-- Init js -->
<script src="{% static 'assets/js/pages/foo-tables.init.js' %}"></script>

<!-- App js-->
<script src="{% static 'assets/js/app.min.js' %}"></script>

<!-- Modal-Effect -->
<script src="{% static 'assets/libs/custombox/custombox.min.js' %}"></script>

<!-- third party js -->
<script src="{% static 'assets/libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/vfs_fonts.js' %}"></script>
<!-- third party js ends -->


<!-- Datatables init -->
<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>


{% endblock javascript %}

{% block extra_javascript %}{% endblock %}
</body>
</html>
 
