{% extends "base.html" %}
{% load static %}

{% block body_extra %}{% endblock %}

{% block page_content %}

<!-- Begin page -->
<div id="wrapper">

  {% block topbar %}
  {% include 'partials/student-partials/topbar.html' %}
  {% endblock %}

  {% block sidebar %}
  {% include 'partials/student-partials/left-sidebar.html' %}
  {% endblock %}

  <div class="content-page">
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
    {% include 'partials/student-partials/footer.html' %}
    {% endblock %}
  </div>
</div>
<!-- END wrapper -->

{% block right_sidebar %}
{% include 'partials/student-partials/right-sidebar.html' %}
{% endblock %}

{% endblock %}
