{% extends "teacher_auth_base.html" %}
{% load static  %}

<!-- {% block extra_css %} -->
<!-- {% endblock %} -->

{% block content %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-20px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Customer Info</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Customer</a></li>
                        <li class="breadcrumb-item active">Organizations</li>
                    </ol>
                </div>
                <h4 class="page-title">Organizations</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <div class="form-group mr-2">
                                <a href="#" class="btn btn-primary" data-animation="fadein"  data-overlayColor="#98a6ad"><i class="mdi mdi-plus-circle mr-1"></i> Add Organization</a>
                            </div>
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact Person</th>
                        <th>Location</th>
                        <th>Contact Number</th>
                        <th>Anniversary</th>
                        <th>Package</th>
                        <th>Email</th>
                        <th style="width: 85px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for organization in organizations %}
                    <tr>
                        <td class="table-user">
                                <a href="{% url 'customer_info:organization-detail' organization.id %}" class="button is-info">{{ organization.name }}</a>
                            </td>
                    
                        <td>
                            {{organization.contact_person}}
                        </td>
                        <td>
                            {{organization.location}}
                        </td>
                        <td>
                            {{organization.contact_number}}
                        </td>
                        <td>
                            {{organization.anniversary}}
                        </td>
                        <td>
                            {{organization.package}}
                        </td>
                        <td>
                            {{organization.email}}
                        </td>
                        
                        <td>
                            
                            <a href="#" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                            <a href="#" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <td colspan="8">
                            <div class="text-right">
                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


</div> <!-- container -->


{% endblock %}

{% block extra_javascript %}
{% endblock %}