{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top: -25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Routine</a></li>
                                                <li class="breadcrumb-item active">Create Routine</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Create Routine</h4>
                                        <form  action=" " method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <div class="form-group mb-3">
                                                    <label name='rfaculty' for="rfaculty">Faculty</label>
                                                    {{form.rfaculty}}
                                                    {{ form.errors.rfaculty }}

                                                </div>
                                                <div class="form-group mb-3">
                                                    <label name='rbatch' for="nbatch">Batch</label>
                                                    {{form.rbatch}}
                                                    {{ form.errors.rbatch }}

                                                </div>
                                                <div class="form-group mb-3">
                                                    <label name='rsemester' for="rsemester">Semester</label>
                                                    {{ form.rsemester }}
                                                    {{ form.errors.rsemester }}

                                                </div>
                                                <div class="form-group mb-3">
                                                    <label name='rtitle' for="rtitle">Title</label>
                                                    {{ form.rtitle }}
                                                    {{ form.errors.rtitle }}

                                                </div>

                                                <div class="form-group mb-3">
                                                <label for="uploaded_at">Uploaded At</label>
                                                    <input id="uploaded_at"  class="form-control"
                                                           name="uploaded_at" placeholder="Enter  Display">
                                                </div>
                                                <div class="form-group mb-3">
                                                            <label name='routine' for="routine">Routine</label>
                                                            {{form.routine}}
                                                            {{ form.errors.routine }}

                                                </div>

                                            <div class="text-right">
                                                <button type="submit" class="btn btn-success waves-effect waves-light">Create Routine</button>
                                            </div>
                                        </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="mb-3 header-title">Status Detail</h4>

                                        <table  class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Routine</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for routine in routines %}
                                        <tr>
                                            <td>{{routine.rtitle}}</td>
                                            <td>
                                                <a href="{{routine.routine.url}}" class="btn btn-primary waves-effect waves-light">Download</a>
                                                
                                                </td>
                                        </tr>
                                       {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>  <!-- end card-body -->
                                </div>  <!-- end card -->
                            </div>  <!-- end col -->

                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

<script>
        $('#uploaded_at').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: "yy-m-d"
        });
</script> 

{% endblock %}
{% block extra_javascript %}
{% endblock %}
