{% extends "teacher_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}


{% if messages %}
  <!-- <ul class="messages"> -->
    {% for message in messages %}
      <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
      <script>alert('{{message}}')</script>
    {% endfor %}
{% endif %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-25px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher Info</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                        <li class="breadcrumb-item active">School Management System</li>
                    </ol>
                </div>
                <h4 class="page-title">Teacher</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 header-title">View Marks</h4>

                <form action="{% url 'marks:show-marks'  %}" method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Faculty</label>
                        <!-- <select class="form-control" name="faculty" id="exampleInputEmail1">
                              <option value="{{faculty.fid}}">{{faculty}}</option>
                        </select> -->
                        <select name="faculty" id="exampleInputEmail1" required="True"
                                class="form-control">
                            <!-- <option selected disabled>Select Your Faculty</option> -->
                            {% for fac in faculty %}
                                <option>{{ fac }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        
                        <label for="exampleInputPassword1">Batch</label>
                        <select class="form-control" name="batch"  placeholder="Select batch" id="exampleInputPassword1">
                          <option value="2068">2068</option>
                          <option value="2069">2069</option>
                          <option value="2070">2070</option>
                          <option value="2071">2071</option>
                          <option value="2072">2072</option>
                          <option value="2073">2073</option>
                          <option value="2074">2074</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword2">Semester</label>
                      <select class="form-control" name="semester" placeholder="Select batch" id="exampleInputPassword2">
                        <option value="First">First</option>
                        <option value="Second">Second</option>
                        <option value="Third">Third</option>
                        <option value="Fouth">Fourth</option>
                        <option value="Fifth">Fifth</option>
                        <option value="Sixth">Sixth</option>
                        <option value="Seventh">Seventh</option>
                        <option value="Eighth">Eighth</option>
                      </select>
                    </div>
                    <div class="form-group row mb-3 justify-content-end">
                        
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">View Marks</button>
                </form>

            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
    <!-- end col -->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h4 class="mb-3 header-title">Update Marks</h4>

                
                <form action="{% url 'marks:provide-marks' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Faculty</label>
                        <!-- <select class="form-control" name="faculty" id="exampleInputEmail1">
                              <option value="{{faculty.fid}}">{{faculty}}</option>
                        </select> -->
                        <select name="faculty" id="exampleInputEmail1" required="True"
                                class="form-control">
                            <!-- <option selected disabled>Select Your Faculty</option> -->
                            {% for fac in faculty %}
                                <option>{{ fac }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        
                        <label for="exampleInputPassword1">Batch</label>
                        <select class="form-control" name="batch"  placeholder="Select batch" id="exampleInputPassword1">
                          <option value="2068">2068</option>
                          <option value="2069">2069</option>
                          <option value="2070">2070</option>
                          <option value="2071">2071</option>
                          <option value="2072">2072</option>
                          <option value="2073">2073</option>
                          <option value="2074">2074</option>
                        </select>
                    </div>
                    <div class="form-group">
                        
                        <label for="exampleFormControlSelect2">Semester</label>
                        <select class="form-control" name="semester" placeholder="Select semester" id="exampleFormControlSelect2">
                          <option value="First">First</option>
                          <option value="Second">Second</option>
                          <option value="Third">Third</option>
                          <option value="Fourth">Fourth</option>
                          <option value="Fifth">Fifth</option>
                          <option value="Sixth">Sixth</option>
                          <option value="Seventh">Seventh</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Exam type</label>
                      <select class="form-control" placeholder="Select batch" name="exam" id="exampleFormControlSelect2">
                         <option value="Class Test">Class Test</option>
                        <option value="Mid-Term">Mid-Term</option>
                        <option value="Pre-Board">Pre-Board</option>
                        <option value="Final">Final</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Subject</label>
                      <input type="text" name="subject" class="form-control">
                    </div>
                    <div class="form-group row mb-3 justify-content-end">
                        
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Update Marks</button>
                </form>
            </div>  <!-- end card-body -->
        </div>  <!-- end card -->
    </div>  <!-- end col -->

</div>
<!-- end row -->


</div> <!-- container -->

<script>
  $("#form_id").on('submit', function(event) {
       event.preventDefault(); 
       var userbooks = '{{ userbooks }}';
       $.ajax({
           type: "POST",
           url: "{% url 'marks:marks-request' %}",
           data:{
                 userbooks:userbooks, 
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
           },
           datatype:'json',
           success: function(data) {
             if (data['success'])
                alert("successfully added to favorites")
           }
       }); 
  });
</script>


{% endblock %}

{% block extra_javascript %}
{% endblock %}