    


{% extends "teacher_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                            <div class="row" style="margin-top:-25px">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Marks Info</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Marks</a></li>
                                                <li class="breadcrumb-item active">Update Marks</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3 header-title">Update Marks</h4>
                                        <form  action=" " method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-3">
                                                        <label for="Username">Student Name</label>
                                                        {{form.sname}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Semester">Semester</label>
                                                        {{form.msemester}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Type of Exam">Type of Exam</label>
                                                        {{form.mexam}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="Subject">Subject</label>
                                                        {{form.msubject}}

                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="anniversary">Marks</label>
                                                        {{ form.mmarks }}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="anniversary">Batch</label>
                                                        {{ form.mbatch }}
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="anniversary">fname</label>
                                                        {{ form.fname }}
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">Update Marks</button>
                                                    </div>
                                                </form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->
                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

{% endblock %}
{% block extra_javascript %}
{% endblock %}
