{% extends "student_auth_base.html" %}
{% load static  %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- Start Content-->
    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <!-- start page title -->
                        <div class="row" style="margin-top:-25px">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UI</a></li>
                                            <li class="breadcrumb-item active">ui-cards.html</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Cards</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <!-- Simple card -->
                                <div class="card">
                                    <div class="card-body">
                                            <div class="alert alert-info alert-dismissable">Samriddhi College<br>
                                             Class-Test Examination
                                    </div>
                                    <div class="details" style='margin-bottom: -60px;'>
                                        <h5 class="card-title">Name:{{ request.session.user_name }}</h5>
                                        <h5 class="card-title">Roll No : {{ request.session.user_id }}</h5>
                                    </div>
                                    </div>

                                    
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                                            <thead>
                                            <tr>
                                                <th>Types of Exam</th>
                                                <th>Subjects</th>
                                                <th>Marks</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for mark in marks_test %}
                                            <tr>
                                                <td>{{ mark.mexam }}</td>
                                                <td>{{ mark.msubject }}</td>
                                                <td>{{ mark.mmarks }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Result : {{test_pass}}</h5>
                                        <h5 class="card-title">Percentage : {{ test_percent|floatformat:2 }}%</h5>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="alert alert-info alert-dismissable">Samriddhi College<br>
                                             Mid-Term Examination
                                    </div>
                                    <div class="details" style='margin-bottom: -60px;'>
                                        <h5 class="card-title">Name:{{ request.session.user_name }}</h5>
                                        <h5 class="card-title">Roll No : {{ request.session.user_id }}</h5>
                                    </div>
                                    </div>

                                    
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                                            <thead>
                                            <tr>
                                                <th>Types of Exam</th>
                                                <th>Subjects</th>
                                                <th>Marks</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for mark in marks_mid %}
                                            <tr>
                                                <td>{{ mark.mexam }}</td>
                                                <td>{{ mark.msubject }}</td>
                                                <td>{{ mark.mmarks }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Result : {{mid_pass}}</h5>
                                        <h5 class="card-title">Percentage : {{ mid_percent|floatformat:2 }}%</h5>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="alert alert-info alert-dismissable">Samriddhi College<br>
                                             Pre-board Examination
                                    </div>
                                    <div class="details" style='margin-bottom: -60px;'>
                                        <h5 class="card-title">Name:{{ request.session.user_name }}</h5>
                                        <h5 class="card-title">Roll No : {{ request.session.user_id }}</h5>
                                    </div>
                                    </div>

                                    
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                                            <thead>
                                            <tr>
                                                <th>Types of Exam</th>
                                                <th>Subjects</th>
                                                <th>Marks</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for mark in marks_pre %}
                                            <tr>
                                                <td>{{ mark.mexam }}</td>
                                                <td>{{ mark.msubject }}</td>
                                                <td>{{ mark.mmarks }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Result : {{pre_pass}}</h5>
                                        <h5 class="card-title">Percentage : {{ pre_percent|floatformat:2 }}%</h5>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="alert alert-info alert-dismissable">Samriddhi College<br>
                                             Mid-Term Examination
                                    </div>
                                    <div class="details" style='margin-bottom: -60px;'>
                                        <h5 class="card-title">Name:{{ request.session.user_name }}</h5>
                                        <h5 class="card-title">Roll No : {{ request.session.user_id }}</h5>
                                    </div>
                                    </div>

                                    
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                                            <thead>
                                            <tr>
                                                <th>Types of Exam</th>
                                                <th>Subjects</th>
                                                <th>Marks</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for mark in marks_test %}
                                            <tr>
                                                <td>{{ mark.mexam }}</td>
                                                <td>{{ mark.msubject }}</td>
                                                <td>{{ mark.mmarks }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Result : {{test_pass}}</h5>
                                        <h5 class="card-title">Percentage : {{ test_percent|floatformat:2 }}%</h5>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

{% endblock %}
{% block extra_javascript %}
{% endblock %}

