{% extends "teacher_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}

{% if messages %}
  <!-- <ul class="messages"> -->
    {% for message in messages %}
      <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
      <script>alert('{{message}}')</script>
    {% endfor %}
{% endif %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-25px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher Info</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                        <li class="breadcrumb-item active">School Management System</li>
                    </ol>
                </div>
                <h4 class="page-title">Teacher</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

  



    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <!-- <div class="form-group mr-2">
                                <a href="#" class="btn btn-primary" data-animation="fadein"  data-overlayColor="#98a6ad"><i class="mdi mdi-plus-circle mr-1"></i> Add Teacher</a>
                            </div> -->
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <form method="POST" class="post-form" action="{% url 'marks:add-marks' %}">
                    {% csrf_token %}

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th>Roll No</th>
                        <th>Student Name</th>
                        <th>Subject</th>
                        <th>Exam</th>
                        <th>Marks</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                   <tr>
                        <td>
                            <input type="hidden" name="id{{forloop.counter}}" value="{{ student.id }}">{{ forloop.counter }}      
                        </td>
                        <td>
                            <input type="hidden" name="name{{forloop.counter}}" value="{{ student.sname }}">{{ student.sname }}
                        </td>
                        <td>
                            <input type="hidden" name="sub{{forloop.counter}}" value="{{ subject }}">{{ subject }}            
                        </td>
                         <td>
                            <input type="hidden" name="exam{{forloop.counter}}" value="{{ exam }}">{{ exam }}            
                        </td>
                        <td>
                            <input type="number" name="marks{{forloop.counter}}">
                        </td>
                           <input type="hidden" name="sem{{forloop.counter}}" value="{{ semester }}">
                           <input type="hidden" name="bat{{forloop.counter}}" value="{{ batch }}">
                           <input type="hidden" name="fna{{forloop.counter}}" value="{{ faculty }}">
                        <input type="hidden" name="count" value="{{ forloop.counter }}">
                    </tr>
                   {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <td colspan="8">
                            <div class="text-right">
                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <label>
                   <button type="submit" class="btn btn-success" style="margin-top:30px;margin-left: 10px; ">Submit</button>
                 </label>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


</div> <!-- container -->


{% endblock %}

{% block extra_javascript %}
{% endblock %}