{% extends "teacher_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}




<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row" style="margin-top:-25px">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Student Marks Info</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                        <li class="breadcrumb-item active">Marks</li>
                    </ol>
                </div>
                <h4 class="page-title">Marks</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <div class="form-group mr-2">
                                <a href="{% url 'marks:marks-create' %}" class="btn btn-primary" data-animation="fadein"  data-overlayColor="#98a6ad" id="id_package" ><i class="mdi mdi-plus-circle mr-1"></i> Add Marks</a>
                            </div>
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Semester</th>
                        <th>Types of Exam</th>
                        <th>Subjects</th>
                        <th>Marks</th>
                        <th style="width: 85px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if marks %}
                    {% for mark in marks %}
                    <tr>
                        <td>{{ mark.sname }}</td>
                        <td>{{ mark.msemester }}</td>
                        <td>{{ mark.mexam }}</td>
                        <td>{{ mark.msubject }}</td>
                        <td>{{ mark.mmarks }}</td>
                        <td>
                            <a href="{% url 'marks:marks-update' mark.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                            <a href="{% url 'marks:delete-marks' mark.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% elif data %}
                    {% for mark in data1 %}
                    <tr>
                        <td>{{ mark.sname }}</td>
                        <td>{{ mark.msemester }}</td>
                        <td>{{ mark.mexam }}</td>
                        <td>{{ mark.msubject }}</td>
                        <td>{{ mark.mmarks }}</td>
                        <td>
                            <a href="{% url 'marks:marks-update' mark.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                            <a href="#" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <td colspan="8">
                            <div class="text-right">
                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>

    
                            
    <!-- end row -->

</div> <!-- container -->




<script>
            // var marks = '{{marks}}';
            // $.ajax({
            //     type: "GET",
            //     url: '{% url 'marks:package-request' %}',
            //     data: {'array': marks},
            //     success: function(result) {
            //         console.log(result.d);
            //     },
            //     error:function (result) {
            //         console.log(result);
            //     }
            // });

                   var userbooks = '{{ marks }}';
                   $.ajax({
                       type: "POST",
                       url: "{% url 'marks:marks-request' %}",
                       data:{
                             userbooks:userbooks, 
                       },
                       headers: {"X-CSRFToken":'{{ csrf_token }}'},
                       datatype:'json',
                       success: function(data) {
                         if (data['success'])
                            alert("successfully added to favorites")
                       },
                    //    success: function (data) {

                    //     document.getElementById('cake-package').text = data;

                    //     document.getElementById('cake-flavour').text = json['flavour'];
                    //     document.getElementById('cake-quantity').text = json['quantity'];

                    // },
                   }); 
                
                // const timeSeries = `{{ marks | safe }}`;
                // console.log(timeSeries);


    
        // var marks = `{{marks}}`;
        // $.ajax({
        //     url: '{% url 'marks:package-request' %}',
        //     type: 'POST',
        //     data: JSON.stringify({'array': marks}),
        //     processData: false,
        //     contentType: "application/json",
        //     dataType: "json",
        //     headers: {"X-CSRFToken":'{{ csrf_token }}'},
        //     success: function (result) {
        //         console.log(result.d);
        //     },

        //     success: function (json) {

        //         document.getElementById('cake-package').text = json['data1'];
        //     },

        //     error: function (result) {
        //         console.log(result);
        //     }
        //   });


</script>

{% endblock %}

{% block extra_javascript %}
{% endblock %}
