{% extends "student_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}

{% if messages %}
  <!-- <ul class="messages"> -->
    {% for message in messages %}
      <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
      <script>alert('{{message}}')</script>
    {% endfor %}
{% endif %}

<!-- Start Content-->
<div class="container-fluid">

    
    <!-- end page title -->

<div class="row" style="margin-top: -25px">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <form action="{% url 'attendance:student-attendance'  %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                <label for="exampleFormControlSelect2">Semester</label>
                                <select class="form-control" placeholder="Select batch" name="sem" id="exampleFormControlSelect2">
                                  <option value="{{sem}}">{{sem}}</option>
                                  <option value="First">First</option>
                                  <option value="Second">Second</option>
                                  <option value="Third">Third</option>
                                  <option value="Fourth">Fourth</option>
                                  <option value="Fifth">Fifth</option>
                                  <option value="Sixth">Sixth</option>
                                  <option value="Seventh">Seventh</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <!-- <div class="form-group">
                                    <label for="date2">End Date </label>
                                    {{ form.date_end }}

                                </div> -->
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <button style="margin-top:25px;" type="submit"
                                            class="btn btn-primary waves-effect waves-light">
                                        View 
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>

                
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
    <!-- end col -->


</div>
<!-- end row -->


</div> <!-- container -->


<div id="piechart"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                <script type="text/javascript">

                // Load google charts
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                // Draw the chart and set the chart values

                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                  ['Task', 'Hours per Day'],
                  ['Present days',{{attendance.present_days}}],
                  ['Absent days', {{attendance.absent_days}}],
                ]);


                  // Optional; add a title and set the width and height of the chart
                  var options = {'title':'Attendance', 'width':550, 'height':400};

                  // Display the chart inside the <div> element with id="piechart"
                  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                  chart.draw(data, options);
                }

                </script>



{% endblock %}

{% block extra_javascript %}
{% endblock %}