{% extends "teacher_auth_base.html" %}
{% load static  %}

{% block extra_css %}
{% endblock %}

{% block content %}



<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12" style="margin-top:-25px">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Student Marks Info</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                        <li class="breadcrumb-item active">Marks</li>
                    </ol>
                </div>
                <h4 class="page-title">Marks</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title"></h4>
                <p class="sub-header">

                </p>

                <div class="mb-2">
                    <div class="row">
                        <div class="col-12 text-sm-center form-inline">
<!--                                                <div class="form-group mr-2">-->
<!--                                                    <button id="demo-btn-addrow" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Project</button>-->
<!--                                                </div>-->
                            <div class="form-group mr-2">
                                <a href="{% url 'marks:marks-create' %}" class="btn btn-primary" data-animation="fadein"  data-overlayColor="#98a6ad" id="id_package" ><i class="mdi mdi-plus-circle mr-1"></i> Add Marks</a>
                            </div>
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th>ROLL NO</th>
                        <th>STUDENT NAME</th>
                        <th>SEMESTER</th>
                        <th>PRESENT DAYS</th>
                        <th>ABSENT DAYS</th>
                        <th>WORKING DAYS</th>
                        <th>FACULTY</th>
                        <th>BATCH</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <th>{{ student.id }}</th>
                        <td>{{ student.std_name }}</td>
                        <td>{{ student.semester }}</td>
                        <td>{{ student.present_days }}</td>
                        <td>{{ student.absent_days }}</td>
                        <td>{{ student.working_days }}</td>
                        <td>{{ student.faculty }}</td>
                        <td>{{ student.batch }}</td>
                   </tr>
                   {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <td colspan="8">
                            <div class="text-right">
                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>

    <!-- end row -->

</div> <!-- container -->

{% endblock %}

{% block extra_javascript %}
{% endblock %}
